/* Target the grid container */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.main-content {
    width: 95%;
    max-width: 1300px;

}

@media(min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

