.btn {
  font-size: 0.85em;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  background-color: $card-heading;
  border-radius: 0.35em;
  display: inline-block;
}

@mixin bg-img {
  width: 100%;
  height: 100%;
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: cover;
}
