$primary-color: #39abcd;
$border-color: #e1e1e1;
$anchor-color: #278da4;
$extra: #42b4d6;
$card-bg: #211510;
$card-heading: #f8b700;
$card-subtitle: #b1997f;
$card-text: #ebdec2;
$main-nav-bg: #1c110d;
$blk: #000;
$modal-border: #352011;